First things firstü•∏

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import squarify
import re

In [22]:
%run -i 'python_functions/cleaning.py'

## Cleaning process ‚ôªÔ∏è

* Export the CSV:

In [3]:
attacks = reading_csv()
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

* Check columns and rows with complete "NaN" values and remove them üß®

In [5]:
attacks = dropping_nan()
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,NaN,NaN
6266,ND.0037,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a pearl diver,M,...,"""a black-tipped shark""",G.F. Mead,ND-0037-PearlDiver-sepsis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0037,ND.0037,37.0,NaN,NaN
6267,ND.0036,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,a fisherman / diver,M,...,6' shark,G.F. Mead,ND-0036-Fisherman-SaudiArabia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0036,ND.0036,36.0,NaN,NaN
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [6]:
nan_values(attacks)

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                      0
Area                        46
Location                    50
Activity                    55
Name                         5
Sex                         60
Age                        879
Injury                       1
Fatal (Y/N)                212
Time                      1300
Species                   1311
Investigator or Source       3
pdf                          0
href formula                 0
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               4139
Unnamed: 23               4138
dtype: int64

* Drop all the columns we won't use for our hypothesis‚úÖ

In [9]:
attacks = dropping_columns()
attacks

,Country,Activity,Age,Injury,Fatal (Y/N),Species
0,USA,Paddling,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,USA,Standing,11,Minor injury to left thigh,N,NaN
2,USA,Surfing,48,Injury to left lower leg from surfboard skeg,N,NaN
3,AUSTRALIA,Surfing,NaN,Minor injury to lower leg,N,2 m shark
4,MEXICO,Free diving,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...
6265,IRAQ,Swimming,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Bull shark
6266,SAUDI ARABIA,Diving,NaN,"FATAL, died of sepsis",Y,"""a black-tipped shark"""
6267,SAUDI ARABIA,Diving,NaN,Buttocks bitten,N,6' shark
6296,AUSTRALIA,Swimming,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...
6301,CEYLON (SRI LANKA),Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [10]:
nan_values(attacks)

Country           0
Activity         55
Age             879
Injury            1
Fatal (Y/N)     212
Species        1311
dtype: int64

* Clean column names (removing spaces, special characters, etc.)üßπ

In [11]:
print(list(attacks.columns))

['Country', 'Activity', 'Age', 'Injury', 'Fatal (Y/N)', 'Species ']

In [13]:
attacks = renaming_columns()
attacks

,Country,Activity,Age,Injury,Fatal (Y/N),Species
0,USA,Paddling,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,USA,Standing,11,Minor injury to left thigh,N,NaN
2,USA,Surfing,48,Injury to left lower leg from surfboard skeg,N,NaN
3,AUSTRALIA,Surfing,NaN,Minor injury to lower leg,N,2 m shark
4,MEXICO,Free diving,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...
4135,IRAQ,Swimming,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Bull shark
4136,SAUDI ARABIA,Diving,NaN,"FATAL, died of sepsis",Y,"""a black-tipped shark"""
4137,SAUDI ARABIA,Diving,NaN,Buttocks bitten,N,6' shark
4138,AUSTRALIA,Swimming,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...
4139,CEYLON (SRI LANKA),Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

* Clean values by column in order to be able to aggrupate them later

AGE

In [14]:
attacks["Age"].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '59', '6', '27',
       '64', '23', '71', '44', '62', '63', '70', '18 months', '53', '30s',
       '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', 'Teens', '36 & 26', '8 or 10', '84',
       '\xa0 ', ' ', '30 or 36', '6¬Ω', '21 & ?', '75', '33 or 37',
       'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28', '20?',
       "60's", '32 & 30', '87', '67', '74 ', '45 ', '21 or 26', '20 ',
       '>50', '18 to 22', 'adult', '9 & 12', '? & 19', '9 months',
       '25 to 35', '23 & 26', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '13 or 18', '34 & 19', '33 & 26',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '17 & 16',
       'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.',
       '?    &   14', '10 or 12', '31 or 33', '2¬Ω', '13 or 14'],
      dtype=object)

In [23]:
attacks = replacing_char()
attacks

,Country,Activity,Age,Injury,Fatal (Y/N),Species
0,USA,Paddling,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,USA,Standing,11,Minor injury to left thigh,N,NaN
2,USA,Surfing,48,Injury to left lower leg from surfboard skeg,N,NaN
3,BRAZIL,Swimming,18,FATAL,Y,Tiger shark
4,USA,Fishing,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
...,...,...,...,...,...,...
3284,IRAQ,Swimming naked near a date palm where many dat...,6,Arm severed,N,Bull shark
3285,IRAQ,Swimming in section of river used for washing ...,16,Right leg lacerated & surgically amputated,N,Bull shark
3286,CUBA,"Shark fishing, knocked overboard",50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN
3287,IRAQ,Swimming,13,"FATAL, left leg bitten with severe blood loss",Y,Bull shark
3288,CEYLON (SRI LANKA),Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

After cleaning, we split duplicated data saved in one row:

In [24]:
attacks = attacks.assign(Age=attacks.Age.str.split('&')).explode('Age')
attacks

,Country,Activity,Age,Injury,Fatal (Y/N),Species
0,USA,Paddling,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,USA,Standing,11,Minor injury to left thigh,N,NaN
2,USA,Surfing,48,Injury to left lower leg from surfboard skeg,N,NaN
3,BRAZIL,Swimming,18,FATAL,Y,Tiger shark
4,USA,Fishing,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
...,...,...,...,...,...,...
3284,IRAQ,Swimming naked near a date palm where many dat...,6,Arm severed,N,Bull shark
3285,IRAQ,Swimming in section of river used for washing ...,16,Right leg lacerated & surgically amputated,N,Bull shark
3286,CUBA,"Shark fishing, knocked overboard",50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN
3287,IRAQ,Swimming,13,"FATAL, left leg bitten with severe blood loss",Y,Bull shark
3288,CEYLON (SRI LANKA),Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

As we can see above, we find not exact data and they can affect to our analysis.
For instance: "18 to 22" is two different age group "Teenager" or "Adult".
That's why we extract only digits:

In [25]:
attacks.Age = attacks.Age.str.extract('(\d+)')
attacks.Age

0       57
1       11
2       48
3       18
4       52
        ..
3284     6
3285    16
3286    50
3287    13
3288    15
Name: Age, Length: 3289, dtype: object

In [23]:
# Remove "NaN" values
attacks.dropna(subset=['Age'], inplace=True)

In [24]:
attacks["Age"].isna().sum()

0

In [25]:
#Change type to int in order to be able to work with age ranges
attacks['Age'] = attacks['Age'].astype(int)

In [26]:
attacks["Age"].dtypes

dtype('int64')

In [27]:
# Create age ranges by conditions:
conditions = [
    (attacks['Age'] >= 0) & (attacks['Age'] <= 12),
    (attacks['Age'] >= 13) & (attacks['Age'] <= 18),
    (attacks['Age'] >= 19) & (attacks['Age'] <= 64),
    (attacks['Age'] >= 65) & (attacks['Age'] <= 100),
    ]

values = ["Child", "Teenager", "Adult", "Senior"]

attacks["Age Group"] = np.select(conditions, values)
attacks

,Country,Activity,Age,Injury,Fatal (Y/N),Species,Age Group
0,USA,Paddling,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,Adult
1,USA,Standing,11,Minor injury to left thigh,N,NaN,Child
2,USA,Surfing,48,Injury to left lower leg from surfboard skeg,N,NaN,Adult
5,BRAZIL,Swimming,18,FATAL,Y,Tiger shark,Teenager
6,USA,Fishing,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'",Adult
...,...,...,...,...,...,...,...
4130,IRAQ,Swimming naked near a date palm where many dat...,6,Arm severed,N,Bull shark,Child
4131,IRAQ,Swimming in section of river used for washing ...,16,Right leg lacerated & surgically amputated,N,Bull shark,Teenager
4134,CUBA,"Shark fishing, knocked overboard",50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN,Adult
4135,IRAQ,Swimming,13,"FATAL, left leg bitten with severe blood loss",Y,Bull shark,Teenager
4139,CEYLON (SRI LANKA),Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,Teenager

SPECIES

In [29]:
# Remove NaN values
attacks.dropna(subset=['Species'], inplace=True)

In [30]:
print(attacks["Species"].unique().tolist())

['White shark', 'Tiger shark', "Lemon shark, 3'", "Bull shark, 6'", 'Grey reef shark', 'Invalid incident', 'Tawny nurse shark, 2m', '3 m shark', 'White shark, 2.5 m', "6' shark", 'Juvenile bull shark', 'Shark involvement not confirmed', 'Bull shark', "Tiger shark, 12'", 'Wobbegong shark', '3.5 m shark', '1.8 m shark', 'Blacktip shark', 'Juvenile white shark,  2.7 to 3.2 m', 'Bull shark, 2 m', 'Injury believed caused by an eel, not a shark', 'Galapagos shark?', '2m shark', 'Bull shark, 3 m ', 'White shark, 3.5 m', 'small shark', 'Juvenile nurse shark', 'Tiger shark, female', 'White shark, 4.6 m', '2 m shark', 'Cookiecutter shark', 'Wobbegong shark, 1 m', 'White shark, 4.5 m', 'Tiger shark, 8 to 10 feet', "8' shark", 'Death may have been due to drowning', 'Questionable', 'Porbeagle, 1.5 m', "5' to 6' shark", 'White shark, 3 to 3.5m ', 'White shark, 3 m', 'Shark involvement questionable', "White shark, 5' to 7'", 'Possibly a juvenile blacktip shark', 'Oceanic whitetip shark, 1.8 to 2 m', "4' shark", 'A small shark', '"A small shark"', "White shark, 11' to 13'", "White shark, 8' to 10'", "Bull shark, 4' to 5'", 'Tiger shark, 100 kg', 'Bull shark, 2m', 'White shark, 4 m', '3m shark, probably a smooth hound', "3' shark", "9' shark", 'Shark involvement highly doubtful', 'Shark involvement prior to death not confirmed', "Bull shark, 5' to 7'", "10' shark", 'Lemon shark', 'Caribbean reef shark', 'Bull shark, 4 m', 'Bull shark, 1 m', 'Wobbegong shark, 2m', 'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark", "3' to 4' shark", "Tiger shark, 10'", 'Bull shark, 3.5 m', "Tiger shark, 10' ", 'Blue shark', "Nurse shark, 4'", 'reef shark, 1m', "White shark, 10' to 12'", 'Angel shark', 'dogfish shark', 'Tawny nurse shark', "Caribbean reef shark, 4.5'", "3' to 5' shark", "5' shark", "Said to involve an 8' shark but more likely damage caused by debris", '3+ m shark', 'Mako shark', "Blacktip shark, 4'", "Nurse shark, 2'", "Mako shark, 1.5 m [5'] ", 'Grey reef shark, 2 m', "Bull shark, 7'", 'Tiger shark, 2.5 m', 'Sandtiger shark', 'No shark involvement', "Tiger shark, 14'", "Silky shark, 6.5'", "Bronze whaler shark, 6'", 'Tiger shark, 1.5 m ', 'Galapagos shark', "Spinner shark, 7'", 'Bull shark, 2.8 to 3.1 m', "Spinner shark, 5'", "Tiger shark, 7'", "Tiger shark, 13' ", "4' to 5' shark", "Blacktip shark, 4' to 5'", "Blacktip shark, 5' to 6'", 'juvenile shark', "Tiger shark, 13'", "White shark, 11' to 12'", 'Hammerhead shark.', "White shark, 10' to 12' ", "White shark, 13'", "Hammerhead shark. 6' to 7'", "Blacktip or spinner shark, 4'", "Thought to involve a 3' to 4' shark, but shark involvement not confirmed", 'White shark, 3.9 to 4.2 m', 'Mako shark, 100-lb', 'Bronze whaler shark, 1.5m', "White shark, 7'", 'Shark involvement not cofirmed', "6' to 7' shark", 'White shark, 2m to 3 m', "Bull shark, 5'", 'small nurse shark', 'Bull shark, 2.5 m', '1m to 1.2 m shark', '3- to 4-foot shark', 'White shark, 6 m', 'Blue shark, 8 to 9 feet', 'Tiger shark, 8 to 12 feet', 'Blacktip Reef shark ', 'Tiger shark, 3.5 m', '3.5 to 4 m shark', '2 m to  3 m shark', 'Bull shark, 1.3 m', '1.5 m shark', 'White shark or oceanic whitetip shark', 'Raggedtooth shark, 1.3 m', 'White shark, 4 to 5 m', "2' shark", '1 m shark', "Bull shark, 3' to 4'", "8' to 10' shark", '2 white shark: 13\' & 9"8"', "7' shark", "White shark, 12' to 14'", 'Spinner shark', 'Spinner shark or blacktip shark', "4' to 6' shark", 'reef shark', " Bull shark, 5'", "4' tp 5' shark", 'Possibly juvenile tiger shark', '1.8 metre shark', "6' to 8' shark", "Oceanic whitetip shark'", "Caribbean reef shark, 7' to 8'", " Sandbar shark, 3' to 4'", ' Bull shark, 1.2m ', ' Tawney nurse shark, 1m', " white shark, 15' ", '3 m to 4 m white shark', 'Blacktip or spinner shark?', 'Blacktip reef shark ', '7-gill shark?', '7-gill shark', 'Reported to involve a bull shark', 'White shark, 3m ', "Tiger shark, 10' to 12'", ' Wobbegong shark, 1.6 to 1.8m ', 'Tiger shark, 3m ', 'Thought to involve a white shark', "White shark, 10 '", 'Blacktip reef shark, 1m', 'Thought to involve a bull shark', "Whitetip reef shark, 4' to 6'", 'Nurse shark?', 'Small bull shark', 'Nurse shark', "Mako shark, 5'", 'Tiger shark?', "Bull shark, 8'", "Bull shark, 6' to 8'", "Tiger shark, 8' to 10' ", "Lemon shark, 4'", 'Invalid', 'a small shark', 'Grey nurse shark, 3m', 'Possibly a blacktip reef shark', 'Raggedtooth shark, 1.5 m', 'Tiger shark, 4.8 m', 'Bronze whaler shark, 2.5m', '"small sharks"', 'White shark, 4m', "Tiger shark, 15'", '2.5 m shark', 'Bull shark, 2m ', "Tiger shark, 6'", 'Seven-gill shark', "2' to 3' shark", "Tiger shark, 8'", "Tiger shark, 10' to 12' ", "White shark, 15' to 16' ", 'Possibly a 3 m bull shark', "3.5' to 4' shark", "Porbeagle shark, 7'", "Lemon shark, 4' to 5' ", 'White shark or bronze whaler', 'Salmon shark suspected, but unlikely', 'White shark, 5m', "14' to 18'shark", "15' shark", 'possibly a bull shark', 'a small reef shark', 'small blacktip shark?', 'Blacktip shark ', 'Blue shark, 2.5m', 'White shark, 2 m', '18" to 24" shark', 'Bull shark, 3m', 'White shark, 4 m to 5m ', 'White shark, 6m ', "Tiger shark, 10'  ", 'White shark, 4m ', 'Possibly a bull shark', "Possibly a 5' to 6' bull shark", 'Tawny nurse shark, 40cm', 'Tiger shark, 3m', 'Blue shark, 70-kg blue shark', 'White shark, 2.7 m', 'Allegedly a 4 m tiger shark', 'White shark, 2.5m', 'Wobbegong shark?', "White shark, 10'", "White shark, 15'", 'Port Jackson shark, 1m', '2 to 2.5 m shark', 'Tiger shark, 2m', "6' shark, possibly a blactip or spinner shark", "White shark, >6'", "Possibly a 5' to 6' sandtiger shark", '4 m shark', 'Grey reef shark ', 'White shark, 3m to 4m', 'Bull shark, 3m female', "Sevengill shark, 6' to 8'", 'Zambesi shark', ' Tiger shark, 2.8m', "Bull shark, 12'", 'reef shark, 1.5m', "1' to 2' shark", 'possibly a bronze whaler shark', 'Bull shark, 2.5m', '3 m to 4 m shark', 'White shark x 2', 'Oceanic whitetip shark, 2.5m ', 'Mako shark ', 'Oceanic whitetip shark, 2.5m, female', "Porbeagle shark, 8' ", "White shark, 14' to 18' ", 'Bull shark, 1.4m ', 'Shark involvement prior to death was not confirmed', 'Possibly a small blacktip shark', "Sandtiger shark, 4' to 5'", 'A small spinner shark', "Blue shark, 7'", '20 to 30kg shark', "Lemon shark, 6'", "14' shark", "Oceanic whitetip shark, 6'", 'Wobbegong shark, 1.6m', 'Thought to involve a juvenile hammerhead shark', 'Whitetip reef shark, 1m', 'Zambesi shark, 2m ', 'White shark, 2.8 to 3 m ', "Sandtiger shark, 8'", 'Thresher shark', "Bull shark, 10'", 'Spurdog', "White shark, 5' to 6' juvenile ", 'Bull shark?', "Nurse shark, 6'", 'Thought to involve a Bronze whale shark, 2m', 'Shark involvement probable, but not confirmed', 'Oceanic whitetip shark, 2.5 to 3m', '80 kg shark', 'blacktip or spinner shark', 'Raggedtooth shark', 'Bronze whaler shark?', 'Thought to involve a cookie cutter shark', 'Wobbegong shark, 60cm', 'Blue shark, 1m', '2.6 m shark', 'White shark, 2.5m ', 'Bull shark, 2.7 m ', "White shark, 12' ", 'Dusky shark, 2m', 'White shark, 3.5m', 'Broadnose sevengill shark', 'White shark, 4m to 5m ', '4 to 5m white shark', 'Raggedtooth shark, 2m', ' reef shark, 1.8m', '5 m white shark', "+3' shark", 'Bronze whaler shark', "2' to 3' juvenile shark", "8' bull shark or Caribbean reef shark", "8' white shark or 7-gill shark", "2'  shark", 'Starry smoothhound shark, 1m', "Bull shark, 6' to 7'", 'White shark, 2m', "4.5 to 5' shark", '2 small bull sharks', 'Bull shark, 1.8m', "White shark, 12' to 15'", 'Reported by media as shark attack, but shark involvement prior to death was not confirmed', 'Shark involvement not confirmed; thought to be a barracuda bite', "1.5' to 2' shark", "2.5' shark", 'A bull shark, according to some of the divers on the boat', 'Blacktip shark, 2m', 'Mako shark, 90kg', 'Possibly a hammerhead shark', '"a small shark"', 'Not a shark attack; it was a hoax', '2.27 m shark', '1.5 to 2 m shark', "Blacktip shark, 5'", 'Oceanic whitetip sharks were in the vicinity', "9.5' shark?", "Nurse shark, 2' to 3' ", 'Possibly a spinner shark', "White shark, 12'", "Possibly a 6' bull shark", ' ', "Possibly a 10' bull shark", 'Bronze whaler shark, 1.5 m ', "3' small spotted catshark, Scyliorhinus canicula", "Bull shark, 5' ", 'A 10-year-old 94-pound pregnant blacktip reef shark', 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length', "Tiger shark, 14' ", 'Lemon shark, >1 m ', 'White shark, 3m', '24" to 30" shark', "6' to 8' shark, possibly a tiger shark", '2.5 to 3 m shark', '2 to 3 m shark', "White shark, 12' to 15' ", 'Raggedtooth shark, 150-kg', 'White shark, 5m ', '2 m to 3 m shark', "White shark, 16' ", "3' to 3.5' shark", 'White shark, 3.5m ', 'White shark?', 'Angel shark, 1.2m ', 'Shark involvement not confirmed, injury may have been caused by a bluefish', "5' to 6' spinner or bull shark", '1.8 m blacktip "reef" shark', "Possibly a 1' to 3' blacktip or spinner shark", "14' white shark", "Tiger shark, 8' to 12'", "Grey reef shark, 5' to 8' ", 'Wobbegong shark, 2 m ', "Bull shark, 4' to bull shark", 'Bronze whaler shark, a  juvenile ', 'Raggedtooth shark, 2.5 m to 3 m ', "Tiger shark, 5' ", 'Bronze whaler shark, 2 m', "5' to 7' shark", "12' to 18' shark", "12' shark", '3.5 m white shark', 'Said to involve a 1.5 m shark', 'Whitetip reef shark', 'Raggedtooth shark, 2.5m ', "12' to 14' white shark", "18' white shark", "Tiger shark, less than 10'", 'Caribbean reef sharks', 'Tiger shark, 3 m ', "14' to 16' white shark", "4 m [13'] white shark", "2 m [6.75'] shark, 200-kg shark T", 'juvenile white shark', 'Possibly a sandbar shark or small blacktip shark', "1.8 m [6'] shark", "3.5 m [11.5']shark", "[4.5' to 5'] shark", "[4' to 5']", "1.8 m [6'] bull shark", 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha', 'Unknown, but it was reported that a shark tooth was recovered from the wound', "3 m [10'] white shark", "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident", '"small shark"', "Tiger shark, 3 m [10']", "2 m [6.75'] copper shark", "1.8 m [6'] blacktip shark", "4 m [13'] shark", "6 m [20'] white shark", "Sandtiger shark, 2.1 m [7'] ", "3 m [10'] shark", '4.5 m & 5 m white shark ', "5.5 m [18'] white shark", "2.5 m [8.25'] bull shark", "2 m [6.75'] white shark", "Bronze whaler shark, 2.4 m [8'] ", "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ", "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']", 'Thought to involve a 2.5 m bull or tiger shark', "2.4 m [8'] shark", "4.9 m to 5.5 m [16' to 18'] white shark", "1.2 m [4'] shark", "1.2 m to 1.5 m [4' to 5'] shark", "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ", '2 sharks, 4.5 m & 3 m ', '"black tipped" shark', '9\'2" white shark', "Bronze whaler shark, 2.5 m [8.25'] ", "0.9 m to 1.5 m [3' to 5'] shark", "2.4 m to 3.7 m [8' to 12'] shark", "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)", "Mako shark, 1.8 m [6']", "5 m [16.5'] white shark", "1.2 m [4'] bull shark", 'bull shark', "Tiger shark, 2.4 m to 3 m [8' to 10'] ", "Bronze whaler shark, 1.5 m [5'] ", "2 m [6.75'] sevengill  shark", '60 cm [23.6"] blind or brown shark', "4 m to 5 m [13' to 16.5'] white shark", 'Possibily a  1.5 to 2 m sandtiger shark', 'Bull shark, 132-kg [291-lb] ', 'Questionable Incident', "Tiger shark, 4 m [13']  ?", "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark", '1.2 m [4\'] "grey-colored shark"', '2 m cow shark', 'Shark involvement doubtful', "4.5 m to 5.5 m [15' to 18'] white shark", "3.5 m [11.5'] white shark", 'Unidentified species', "1.5 m to 1.8 m [5' to 6'] shark", "2.1 m  [7'] bull shark", "106 cm [3.5']  shark", '\x93small brown shark\x94', "3.7 m to 4.3 m [12' to 14'] shark", '"sand shark"', "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark", "0.9 m to 1.2 m [3' to 4'] shark", 'A \x93small\x94 shark', '15 cm to 20 cm [6" to 8"] bite diameter just below left knee', "Mako shark, 3 m [10']", "2.5 m [8.25'] white shark", 'Species unidentified', "Thought to involve a 2 m [6.75'] grey nurse shark", "Thought to involve a >2 m [6.75'] bull shark", 'Reported to involve a hammerhead shark', 'White shark, 4 m white shark', 'Wobbegong shark, 1m', 'Shark involvement not confirmed, injury may be due to a stingray', "3 m to 4.5 m [10' to 15'] white shark", "2.4 m to 3 m [8' to 10'] grey colored shark", "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ", 'Possibly a bull shark or tiger shark', 'Blacktip or spinner shark', "3.5' to 4.5' shark", "1.2 m [4'] blacktip shark", "3 m to 3.7 m [10' to 12'] shark", 'Bull or tiger shark', "1' to 2' hammerhead or bonnethed shark", "0.9 m  to 1.2 m [3' to 4'] shark", "Nurse shark, 1.5 m [5'] ", "Sandtiger shark, 3 m [10'] ", "1.2 m [4'] blacktip or sandbar shark", "Bull shark, 1.8 m to 2.1 m [6' to 7'] ", 'Mako shark, 400-lb ', "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark", "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand", '\xa0 ', "1.5 to 2.5 m [5' to 8.25'] copper shark", "3.7 m to 4.3 m [12' to 14'] white shark", '1 m  shark', "3' blacktip shark", "2.1 m to 2.4 m [7' to 8'] shark", "White shark, 6m [20']", 'Bull shark, 400-lb ', "3'  shark", "0.9 m [3'] shark", 'Nurse shark, 1m ', "Spinner shark, 3' to 4' ", 'Shark involvement prior to death unconfired', '1.5 m [5\'] "whaler shark"', 'C. leucas tooth fragment recovered from kayak', 'Zambesi shark?', 'Unidentified', "Tiger shark, 1.8 m [6'] ", "Tiger shark, 1.8 m [6']", 'Questionable incident - shark bite may have precipitated drowning', "2' to 3.5' shark", 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.', "1.5 m [5'] shark", "3 m [10'] bull shark", 'Possibly  a blacktip or spinner shark', "3' shark, possibly  a blacktip or spinner shark", "Blacktip shark, 5' to 6' ", "1.9 m [6.5'] bull shark", "0.9 m  [3'] shark", "Bull shark, 2.3 m [7.5'] ", "White shark, 2.4 m to 3 m [8' to 10'] ", "1.2 m to 1.5 m [4.5' to 5'] shark", "White shark, 2.7 m to 3 m [9' to 10'] ", 'Possibly a juvenile blacktip or spinner shark', "Possibly a 1.5 m [5'] blacktip or spinner shark", "White shark, 2.7 m [9'] ", "Bronze whaler shark, 2.5 m [8.25']  k", '5 m shark', "2 m [6.75'] shark", "6 m [20'] shark", "Porbeagle shark, 3 m [10']rk", 'Tiger shark, 4 m ', "1.2 m to 1.8 m [4' to 6'] shark", "White shark, 4.9 m [16'] ", "White shark, 5 m [16.5'] ", "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ", "2.1 to 2.4 m [7' to 8'] shark", "Blacktip shark, 2' ", "White shark, 4 m to 5 m [13' to 16.5'] ", '100-kg [221-lb] dead blue shark', 'White shark, 2.5 m ', "60 cm to 90 cm [2' to 3'] shark", "White shark, 3.5 m [11.5']  male ", 'Thought to involve a Zambesi shark', "Tiger shark, 3 m [10'] ", "A 2' shark was seen in the area by witnesses", "Thought to involve a 2.7 m [9'], 400-lb bull shark", 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ', "Blacktip shark, 2.4 m to 3 m [8' to 10'] ", "Nurse shark, 1.5 m [5']", "1.8 m [6'] grey-colored shark", "Grey reef shark, 2 m [6.75'] ", "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ", "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?", "Nurse shark, 1.2 m [4'] ", "0.9 m [3'] shark,  probably a blacktip or spinner shark", "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ", 'Shark involvement  questionable', "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ", 'Sevengill shark', 'Thought to involve a white, bull or tiger shark', "White shark, 3 m [10'] ", '1.3 to 1.6 m shark', "Grey reef shark, 1.2 m [4'] ", "2.7 m [9']  bull shark or Caribbean reef shark", "White shark, 3 m to 5 m [10' to 16.5'] ", "Bull shark, 2.1 m [7']", "Blacktip shark, 1.8 m [6'] ", "White shark, 4 m [13'] ", "Tiger shark, 2.5 m [8.25']", 'Grey reef shark, 1.5 m ', '3 bull sharks', "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity", 'Bronze whaler or tiger shark', "White shark, 4.6 m [15'] ", 'Possibly a white shark', 'A "small shark"', "White shark, 5 m  to 6 m [16.5' to 20'] ", 'Though to involve a white shark', "White shark, 5 m to 6 m [16.5' to 20'] ", "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ", "4.5' to 5' shark", "White shark, 4.9 m [16']", "Raggedtooth shark, 1.2 m [4'] ", 'Thought to involve a 5.5 m white shark named Kong', "3 m to 4 m [10' to 13'] white shark", "Lemon shark, 1.5 m [5'], identified  by the surfer", "1.8 m [6'] shark, possibly a blacktip", "Nurse shark, 0.9 m [3'] ", "5' spinner shark", 'Small dusky shark or blackfin shark', 'Shark involvement prior to death suspected but not confirmed', "Tiger shark, 4 m to 4.3 m [13' to 14'] ", 'Possibly a blacktip shark', 'small blacktip shark', "Tiger shark, 5.2 m [17']", 'Thought to involve an oceanic whitetip shark or a white shark', '"juvenile shark"', '4.5 m white shark', "Tiger shark, 2.7m  [9']", "1.2 m [4'] shark (spinner shark?)", 'Possibly a sand shark', 'Possibly a Caribbean reef shark', '3.7m  to 4.2 m white shark', 'Tiger shark, 2m to 3m ', "1.8 m to 2.1 m [6' to 7'] shark", 'Tiger shark, 4.5 m [14\'9"]', "3 m to 5 m [10' to 16.5'] white shark", "5.5 m to 6 m [18' to 20'] white shark", '"a young shark"', "Tiger shark, 2.4 m [8'] ", "1.8 m to 2.1 m [6' to 7'] hammerhead shark", "2.5 m [8.25'] white shark ", "60 cm to 90 cm [2' to 3'] blacktip or spinner shark", 'nurse shark', '"reef shark"', "Nurse shark, 0.9 m  [3'] ", 'Possibly a tiger shark', 'Tiger shark, 300-kg [662-lb] ', "1.2 m to 1.5 m [4' to 5']   shark", "1.5 to 1.8 m [5' to 6'] shark", "3 m to 3.7 m [10' to 12'] bull shark", '"sand" shark', "Tiger shark, 3.7 m [12'] ", 'Though to involve a tiger shark', "3.7 m [12'] shark", 'Bronze whaler shark, 2 m ', "5 m to 5.5 m [16.5' to 18'] white shark", "2.7 m [9'] shark", 'Thought to involve a small sand shark', 'Small shark', "3 to 3.5 m [10' to 11.5'] bull shark", "1.2 m [4'] spinner shark", "2.1 m [7'] shark", ">1.8 m [6'] shark", '3.6 m [11\'9"] white shark', "Lemon shark, 4' ", '1.3 m [4\'3"] shark', 'Tiger shark caught 6 days later with diver\x92s remains in its gut', ">6 m [20'] white shark", "3.7 m [12'] white shark", "1.8 m [6'] blacktip shark or Caribbean reef shark", "5.5 m to 6 m [18' to 20']  white shark", "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ", 'Thought to involve a tiger shark', "Remains recovered from 5.5 m [18'] white shark", "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)", "Two 3 m [10'] oceanic whitetip sharks", "Tiger shark, 2.4 m [8']", "Tiger shark, 3 m to 4.9 m [10' to 16'] ", "Mako shark, 1.8 m [6']  ", "6' to 7' blacktip shark", '5 m to 6 m white shark', '3 m hammerhead shark', 'Unidentified shark', "Tiger shark, 3 m to 3.7 m [10' to 12'] ", "Tiger shark, 4.3 m [14'] ", '4.2 m white shark', "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark', "Nurse shark, 3', 20-lb ", 'Bull shark or lemon shark', '>2 m shark', 'Bronze whaler shark, 3 m', "5 m [16.5'] white shark, identification by K. Nakaya", "Said to involve a 6 m to 7 m [20' to 23'] white shark", 'Questionable incident', "Bronze whaler shark, 2.3 m [7.5'] ", "Zambesi shark, 1.7 m [5.5'] ", "Possibly a 1.5 m [5'] blacktip shark", "Tiger shark, 2.4 m 3.4 m [8' to 11']  ", "5 m to 6 m [16.5' to 20'] white shark", "3 m [10'], 270- kg [595-lb] shark", 'sand shark', "2.1 m [7'], 140-lb reef shark", "Tiger shark, 3 to 4 m [10' to 13'] ", "2.7 m [9'] bull or lemon shark", "Tiger shark, >3 m [10']", 'Grey nurse shark, 2 m', "1.8 m [6'] shark ", "4' spinner shark", "1.8 m to 2.4 m [6' to 8'] shark", "5 m  [16.5'] white shark", "2.5 m to 3 m [8.25' to 10']  white shark", 'Shark involvement prior to death could not be determined', '4.5 m [14\'9"] white shark', '2 m hammerhead', "5.5 m [18'] white shark, identified by witnesses & tooth marks", "2.3 m [7.5'] white shark, identified by M. Smale", 'Tiger shark, 2m ', '2 m shark, possibly a bronze whaler', "2.7 m [9'] white shark", 'Shark involvement suspected but not confirmed', 'White shark, id

In [31]:
# We transform the "Species" to lowercase in order to be able to filter
attacks['Species'] = attacks['Species'].str.lower().str.strip()

In [32]:
attacks["Species"].value_counts().head(10)

white shark                                           95
shark involvement not confirmed                       45
tiger shark                                           45
bull shark                                            42
shark involvement prior to death was not confirmed    41
invalid                                               37
4' shark                                              36
6' shark                                              28
1.8 m [6'] shark                                      28
1.2 m [4'] shark                                      25
Name: Species, dtype: int64

In [34]:
# Main shark species: 
# White Shark, Tiger Shark, Hammerhead shark, Bull Shark, Galapagos Shark, Nurse Shark. 
pattern = r'(white shark|tiger shark|bull shark|hammerhead shark|galapagos shark|nurse shark)'
    
attacks['Top Species'] = attacks['Species'].str.extract(pattern, expand=True)
attacks.drop(columns='Species', inplace=True)

In [35]:
attacks.dropna(subset=['Top Species'], inplace=True)

In [36]:
attacks["Top Species"].value_counts()

white shark         425
tiger shark         190
bull shark          133
nurse shark          69
hammerhead shark     27
galapagos shark       6
Name: Top Species, dtype: int64

INJURY

In [37]:
print(list(attacks["Injury"].unique()))

['No injury to occupant, outrigger canoe and paddle damaged', 'FATAL', 'Lower left leg bitten', 'Shallow lacerations to finger PROVOKED INCIDENT', 'No injury, shark bit scuba gear', '5-inch cut to hand', 'No injury, shark bit hole in ski', 'Lacerations to foot and ankle', '2 puncture wounds to left foot, abrasion to right foot', 'Lacerations to left knee & lower leg', 'Injuries to right leg & hand', 'Laceratons to right leg & foot', 'Puncture wounds to leff foot & lower leg', 'Injuries to right foot', 'Injuries to right leg', 'Injuries to abdomen and arm', 'No injury, shark took his swimfin', 'Severe lacerations to left thigh & knee', 'Minor injury to thigh, PROVOKED INCIDENT', 'Serious injury to leg', 'Right leg bitten', 'Minor injuries', 'Lacerations to left hand', 'Minor lacerations to right hip', 'No injury, board bitten', 'Not injured by shark but board bitten', 'No injury, kayak bitten', 'No injury, shark bit paddleboard', 'Lower legs bitten', 'Hand bitten by hooked shark PROVOKED INCIDENT', 'No injury, shark bit surfboard', 'Leg bitten', 'No injury, shark bit surfboard ', 'Right forearm severed ', 'Lower right leg severely injured', 'Lacerations to thighs', 'Multiple injuries to arm, wrist and torso', 'Injury to right wrist & forearm', 'No injury, but ski severely damaged', 'Injuries to foot & arm', 'Injuries to right calf and thigh', '4 deep lacerations to thigh', 'Severe lacerations to shoulder & forearm', 'Two toes broken & lacerated', 'Lacerations to right foot', 'Right arm severed, ankle severely bitten ', 'No inury, shark & board collided', 'Laceration to left forearm PROVOKED INCIDENT', 'No injury, board damaged', 'Right thigh injured by hooked pregnant female shark PROVOKED INCIDENT', 'Injuries to left leg & right hand', 'Lacerations and puncture wounds to foot and ankle', 'Arm grabbed PROVOKED INCIDENT', 'Elbow bitten', 'Multiple bites to right arm', 'Minor injury to head', 'Lacerations to scalp', 'No injury', 'Right hand & part of forearm removed', 'Bitten on thigh, abdomen & hand', 'Lacerations to left calf', 'Injury to left thigh', 'Lacerations to right calf, knee & hip', 'Severe injuries to lower legs. Foot later surgically amputated.', 'Left leg severed below the knee, defense injuries to left hand', 'Severe laceration to left leg', 'No injury, shark struck board, tossing her into the sea', 'Laceration to dorsum of foot by hooked shark  PROVOKED INCIDENT', 'Inuries to lower left leg & ankle', 'No injury, surfboard bitten', "No injury, shark struk sufer's leg and his board", 'Right hand bitten  PROVOKED INCIDENT', 'Lacerations and puncture wounds to hip, thigh, arm and hand', 'Arm bitten', 'No injury, shark bumped & damaged board', 'Significant injuries to lower legs', 'Injuries to right calf, buttock and both hands', 'Right leg severed, multiple lacerations to left leg', 'Multiple lacerations to torso & leg', 'Minor injury to foot', 'Bruises and abrasions to face, chin, chest, both shins & feet and cut to right hand when her surfboard was struck with force', 'Arm amputated below shoulder', 'Left arm amputated at elbow & severe injury to leg', 'Lacerations to right calf', 'Puncture wound to finger', 'Left forearm bitten', 'Injuries to leg, left arm & both hands', 'Leg severed at mid-thigh', 'No injury, knocked off ski', 'Injuries to head & torso', 'No injury but kayak bitten', 'Lacerations to left forearm. Lacerations to left hand and thigh', "No injury, shark's teeth scratched hull", 'Severe bite to right flank', 'Injury to hip/leg', 'Lacerations to fingers', 'Lacerations to left foot', 'Left arm & right hand severed, lacerations to both legs', 'No injury, shark bit kayak', 'Minor lacerations to left heel and big toe', 'Lower limbs & thigh bitten', 'Left foot bitten', 'Laceration to right lower leg', 'Lacerations to legs', 'Cut to tip of finger by a captive shark PROVOKED INCIDENT', 'No injury, but surfboard severely damaged', 'Injuries to left thigh', 'Lacerations to right hand & knee', 'Severe bite to right calf & anklel', 'Right leg severed', 'Bitten on left calf & foot', 'Injuries to torso, head and face', 'Laceration to thigh', 'Lacerations to  right forearm', 'Arm bitten by captive shark PROVOKED INCIDENT', 'No injury, shark became entangled in his surfboard leash', 'Minor injury to foot & shin', 'Lower leg bitten', 'Bitten on left hand', 'Right thigh & calf bitten', 'Lacerations to right hand', 'Superficial injury to left calf', 'Avulsion injury  to lower right leg', 'Puncture wounds and lacerations to both legs', 'Minor lacerations to right hand', 'Left forearm bitten ', 'Lacerations to thigh and hand', 'Minor puncture wounds to knee', 'Lacerations to thigh & lower left leg', 'Right lower leg and foot bitten', 'Multiple lacerations to torso', 'Puncture wounds to thigh, defense wounds  to hand', 'Injuries to thighs & buttocks', 'Right hand and foot severed', 'Lacerations to torso & arm', 'Lacerations to both legs below the knees', 'Thigh bitten', 'Superficial injury to calf by hooked shark PROVOKED ACCIDENT', 'No injury, ski bitten', 'Left hand severed', 'No injury, kayaker fell in the water when kayak bitten by a shark', 'Minor wound to his thigh when shark bit kayak', 'Superficial lacerations to right side of face PROVOKED ACCIDENT', 'Lacerations to right forearm', 'Lacerations to thigh', 'No injury, surfboard damaged', 'No injury, punctures to swim fin', '5 puncture wounds to thigh', 'Lacerations to right wrist, foream & neck', 'Right leg severed, left leg lacerated', 'Laceration to left thigh', 'Lacerations to right leg', 'Lacerations to foot', 'Upper left arm & right leg bitten', 'Severe lacerations to hands and  left leg', 'Ankle bitten', 'No injury, board bumped by shark', 'Thigh bitten, FATAL', 'Calf bitten', 'Severe injury to left forearm', 'Lacerations to right hand by hooked shark PROVOKED INCIDENT', 'Torso and left buttock bitten', 'Foot bitten', 'No injury, surfboard rammed', 'No injury, shark & board collided', 'Lacerations to hand & forearm', 'Lacerations & puncture wounds to right calf & ankle when diver accidentally backed into the shark  PROVOKED INCIDENT', 'Severe lacerations to lower right leg', 'Puncture wounds to left foot & calf', 'Right ankle & foot bitten', 'Lacerations to calf', 'Thigh injured by hooked shark PROVOKED INCIDENT', 'Severe injury to hand ', 'Severe injuries to right hand & right thigh. Right hand  surgically amputated & his right leg a week later', 'No injury, surfboard dented', 'Severe lacerations to lower left leg', 'Severe lacerations to right leg', 'Left thigh severely bitten', 'No injury, shark struck kayak, catapulting him into the water', 'Small laceration to head from captive shark', 'Bitten on right thigh & calf', 'Severe lacerations to left foot', 'No injury, surfboard leash severed', ' No injury. Shark bumped kayak, flinging her into the  water. ', 'Hand severed, buttocks bitten', 'Severe lacerations to left leg', 'FATAL    Severe bite to right thigh', 'No injury to surfer, surfboard bitten by the shark', 'Leg bitten, FATAL', 'Lacerations to left lower leg', 'small laceration to wrist', 'Minor injury, shark latched onto his abdomen', 'Laceration to right heel', 'Lacerations to thigh & torso', 'Puncture wounds to torso', 'Lacerations to arm', 'Lacerations to thumb, ring and pinky fingers of right hand ', 'Right foot bitten', 'Leg bitten  by shark after he shot at it & missed  PROVOKED INCIDENT', 'Head & torso bitten', 'Presumed FATAL, body not recovered', 'No injury, shark removed piece of surfboard', 'Minor injuries, surfboard bitten', 'No injury, shark rammed surfboard', 'Foot severed', 'Minor injury', 'No injury, surf ski bitten', 'No injury, knocked off surfboard', '4" laceration to left forearm', 'Laceration to leg', '3 to 4 cm laceration on foot from hooked shark brought on board PROVOKED INCIDENT', 'Left leg bitten', '5 puncture wounds in left calf', 'Severe bite to right leg FATAL', 'Lacerations to left elbow', 'Lacerations to ankle & calf', 'Left hand bitten', 'No injury, board bumped', 'No injury, shark bit ski', 'No injury, knocked off board', 'Calf severely lacerated', 'Lacerations to right arm & thigh', 'Lower right leg lacerated', 'Leg severely bitten, surgically amputated', 'FATAL, leg bitten', 'Knee bitten', 'Dorsum of foot/ankle  injured by surfboard skeg or other inanimate object.', '2 punctures on forearm as captive shark collided with diver PROVOKED INCIDENT', 'Finger bitten', 'No injury, kayak bumped repeatedly', 'Lacerations to hand, knee & thigh ', 'Right ankle & foot lacerated', 'Left shoulder bitten', 'Calf bitten & both hands injured', 'Right forearm nearly severed and bites above & below the right knee', 'No injury, shark struck his board', 'FATAL, leg severed ', 'Left hand, foot severed &  left calf & arm bitten', 'FATAL Severe wound to right thigh & calf', 'Left leg lacerated, right leg severed above the knee ', '15 puncture wounds on foot', 'Lower left leg bitten, surgically amputated', 'Puncture wounds to dorsum of right foot', 'Presumed FATAL, severed hand recovered', 'Left index finger lacerated', 'Left ankle & foot lacerated', 'Left arm severed below shoulder', 'FATAL, left thigh, buttocks, back of spine, abdomen & chest bitten  ', 'FATAL          Hip & upper thigh bitten, femoral artery severed ', 'No injury, wetsuit torn & board bitten', 'Left calf bitten', 'Hand & foot lacerated,  lower left leg severely bitten, necessitating surgical amputation', 'Arm lacerated (shark made 3 strikes)', 'Puncture wounds on heel, legs and buttocks', 'Left arm lacerated', 'Forearms lacerated', 'Both legs severely lacerated', 'FATAL, body not recovered', 'Left thigh bitten, leg surgically amputated', 'Left foot lacerated ', 'Lacerations on heel & dorsum of right foot', 'Hand bitten by captive shark PROVOKED INCIDENT', 'Right hand severed', 'Calf, foot & hand bitten', 'Lacerated leg & back', 'FATAL, torso & leg bitten  ', 'Left leg severed below knee', 'Bruises & minor cuts', 'Lacerations to buttocks & thigh', 'Hand injured', 'No injury from shark', 'Left buttock & foot  severed', 'FATAL, thigh bitten ', 'Torso lacerated', 'Arm severed, surgically reattached', 'No injury. Shark made threat display, then diver shot the shark PROVOKED INCIDENT', 'Thigh, hip & buttock bitten', 'No injury, wetsuit & swimfin torn', 'Leg & feet lacerated', 'FATAL, torso bitten, leg severed ', 'Both thighs bitten', 'No Injury to occupant, shark holed and sank boat', 'Right side of back / torso lacerated', ' FATAL', 'Swim fin bitten', 'Left arm bitten', 'Left calf lacerated', 'Leg pinched', 'Calf lacerated', 'Lower right calf lacerated', 'Puncture wounds on right hip and arm', 'Right forearm severed surgically amputated above elbow', 'Leg bitten, surgically amputated', 'Buttock bitten, hands lacerated', 'Lower legs lacerated', 'Right arm bitten', 'No injury, but kayak scraped & dented', 'Right thigh bitten', 'Right thigh & buttock bitten', 'Leg & board bitten', 'Leg & hands bitten', 'Left hand & forearm bitten, board bitten', 'Legs & torso injured', 'Heel lacerated', 'FATAL, left forearm severed  ', 'Thigh, buttocks & lower back lacerated', 'Legs bitten', 'FATAL, left thigh and lower leg severely injured  ', 'FATAL, hands & calf bitten  ', 'Right shoulder & arm bitten', 'Lower legs bitten, foot severed', "He grabbed shark's tail, shark bit his chest & held on.  PROVOKED INCIDENT", 'Lower leg lacerated', 'Left arm lacerated when shark grabbed scooter', 'Sierakowski suffered a minor facial injury, ski bitten in half by shark', 'Both legs bitten, right leg severed at mid-calf & defense wounds on right hand', 'Leg & hand bitten', 'FATAL, arm & leg severed ', 'FATAL, legs severed  ', 'Bitten on inner thigh, leg surgically amputated', 'Lower left leg & ankle bitten', 'Presumed fatal, no body recovered, shark mutilated wetsuit & harness recovered ', 'Single laceration on ankle & board bitten', 'No Injury, shark struck his board', 'Back, arms & wrist severely lacerated', 'No injury  PROVOKED INCIDENT', 'Right calf bitten', 'Left shoulder, forearm, hand & abdomen lacerated', 'No injury, towed by shark that grabbed stringer of fish tied to his waist', 'FATAL, torso & abdomen bitten,  forearm severedL', 'Left arm & leg lacerated', '5 punctures to hand from captive shark PROVOKED INCIDENT', "Shark bit his leg after he grabbed its tail & wouldn't let go PROVOKED INCIDENT", 'Lacerations to left foot & right shin', 'Leg & chest lacerated', 'Right foot bruised, board bitten', 'FATAL, head, shoulder and arm severed, remains recovered at Munglinup Beach on 9/13/1995', 'Forearm, abdomen & upper leg lacerated', 'Puncture wounds & scratches to torso & left leg ', 'FATAL, left  leg & forearm severed', 'FATAL, right thigh bitten & femur exposed, shallow lacerations on right calf & left thigh & fingers lacerated ', 'FATAL, right leg nearly severed, puncture wounds to left leg ', 'Buttock & leg bitten', 'Leg severed mid-thigh', 'Leg bitten ', 'Serious injury to left leg', 'Thigh & hand lacerated', 'No Injury, Kayak holed', 'Left leg gashed', 'Severe lacerations to abdomen & thighs', 'Severe bites to head & shoulder', 'Puncture wounds on chest', 'Feet & ankles bitten', 'Lower legs lacerated ', 'No injury, swim fin bitten', 'No injury, shark bit board', 'Right leg bruised & abraded', 'Minor lacerations to hand, 15" crescent-shaped piece removed from surfboard', 'Right leg severely lacerated  FATAL', 'Foot & swim fin punctured', 'Chest & arm bruised & scratched, 15" crescent-shaped piece removed from board', 'Minor bruises', 'Minor cuts, sufboard bitten', 'Grabbed metal leader to shark, shark clamped on  & bit  left bicep PROVOKED INCIDENT', 'Foot bitten, crescent of bitemarks in both sides of board', 'Left shoulder & side bitten, board broken', "No injury, shark became tangled in hose & towed him 100'", 'FATAL, right leg at hip, left leg and right forearm severed  ', 'Arm, shoulder & back bitten', 'No Injury to occupant; canoe bitten', 'Left arm severed', 'Forearm, upper thigh, knee & ankle lacerated', 'Abdomen bitten & leg severed  FATAL', 'Lacerations to arm & leg', 'Calf lacerated & board bitten', 'Foot & swim fin bitten', 'No Injury, board bitten', 'Right hand lacerated', 'Shark rammed & overturned paddleboard, knocking him into water & bit his head, lacerating his face & neck', 'No injury, kayak capsized', '4 punctures on leg & board bitten', 'FATAL, thigh bitten  ', 'Thigh severely lacerated', 'Lacerations & abrasions, board bitten in half', 'No details, "recovering in Darwin Hospital"', 'Chest lacerated', 'Left leg bitten by captive shark                   PROVOKED INCIDENT', 'Multiple Injuries', 'Laceration to arm  PROVOKED INCIDENT', 'Torso bitten', 'Puncture wounds & lacerations to both legs', 'Forearm bitten', 'Thigh bitten FATAL', 'FATAL. His body not recovered', 'FATAL, thigh bitten, hands lacerated  ', 'Abdomen lacerated, surfboard holed', 'Leg bitten & femur fractured', 'FATAL, thigh & hand lacerated', 'Survived', 'Lacerations to left arm & waist', 'Left thigh & calf lacerated', 'Fingers & surfboard injured', 'Puncture wounds to right hand', 'FATAL, legs bitten ', 'Punctured lung, lacerations to shoulder, face, jaw, neck & forearm', 'Laceration to right arm', 'Left leg severely lacerated, superficial lacerations of right leg,  board damaged', 'Right hand and part of forearm severed , left hand lacerated, right anterior side of board removed by shark', '2/3rd of left calf removed', 'Contusion of left foot', 'Bruised', 'Thigh & calf bitten', 'Minor injury to torso', 'Abrasion on right foot, board bitten', 'Fingers bitten', 'Laceration to left foot', 'Inner thighs lacerated', "Hand abraded when he grabbed shark's tail PROVOKED INCIDENT", 'Right leg severely bitten', 'FATAL, shark seized her by the chest and took her underwater ', 'FATAL, shark bit leg, then dragged him underwater ', 'Left knee bitten, but survived', 'Left ankle nipped (3 punctures wounds)', 'No injury, rammed by shark', 'No Injury, surfboard bitten', 'Lacerations to hand', 'Upper left thigh & buttocks bitten', 'FATAL, torso bitten ', 'FATAL, right calf bitten  ', 'Left leg bitten, surgically amputated', 'Lacerations & punctures in left calf & ankle', '3 small punctures in scalp & ripped nostril', 'Bitten twice', 'Thigh lacerated', 'Leg lacerated by netted shark PROVOKED INCIDENT', 'Both hands & heel of left foot lacerated, right foot severed', 'Multiple major Injuries', 'Shark rammed diver after he shot it in the head  PROVOKED INCIDENT', 'No injury, shark took his catch, then towed & pushed diver through the water ', 'Both legs bitten, 2 days later gangrene necessitated surgical amputation of left leg at mid-thigh', 'No injury, shark bit speargun & pushed diver through the water', 'Board rammed &  bitten, left thigh lacerated', 'Leg lacerated', 'PROVOKED INCIDENT    Diver poked shark with spear, then shark bit his right foot', 'Lacerations to wrist', 'Buttocks & hip bitten', 'Right arm severed 1" below elbow with extensive tissue loss 3" above elbow', 'Left thigh lacerated', 'Laceration to left lower leg', 'Tooth mark in left elbow PROVOKED INCIDENT', 'Left leg & surfboard bitten', 'Shoulder, arm & hand lacerated', 'No injury, swim fin torn', 'Right leg  severed FATAL', 'Thigh, lower back and surfboard bitten', 'Major injuries', 'Minor injuries to hand', 'Minor bite on foot & swimfin', 'Foot severed FATAL', 'Minor bite on heel & swim fin bitten', 'FATAL, right leg severed  ', 'Left hand & forearm lacerated', 'FATAL, leg bitten ', 'Bitten on legs & buttock', 'Leg severed at knee,  hand severed, arms, torso & buttock severely lacerated', 'Right forearm bitten', 'Bitten on legs', 'Eight puncture wounds to right leg by captive shark PROVOKED INCIDENT', 'Leg & surfboard bitten', 'FATAL, multiple bites ', 'Lacerations to left leg ', 'Severe lacerations to thigh', 'Leg & ankle severely bitten', 'Scrape on head. Recorded as PROVOKED INCIDENT', 'Laceration to buttocks Recorded as PROVOKED INCIDENT', 'Laceration to finger by a captive shark PROVOKED INCIDENT', 'Hit in face by shark, arm abraded, surfboard bitten', 'No injury, left elbow & torso bumped by sharks', 'FATAL, left leg bitten, femoral artery severed  ', 'Shark bumped Colleen, the nudged Scott, then bit Frisbee & swam away with it', 'Major injury to torso', 'Recorded as PROVOKED INCIDENT', 'Arm lacerated', 'FATAL, "bitten in two"', 'Shark grasped thigh', 'After shark was speared & hit on head, it bit the diver\x92s foot  PROVOKED INCIDENT', 'Punctures in right buttock & thigh, abrasion on right forearm', 'Speared shark lacerated his arm PROVOKED INCIDENT', 'FATAL, seen taken by a shark ', "The shark bit the diver's leg after he shot it  PROVOKED INCIDENT", 'Abdomen abraded when he seized shark PROVOKED INCIDENT', 'Dorsum of right foot grazed', 'Hand & forearm bitten by hooked shark PROVOKED INCIDENT', 'FATAL, other human remains bitten by sharks, 13 people missing', 'Left leg & lower right leg bitten, taken ashore with shark still grasping his leg', 'Hand, arm & thigh bitten', 'Thigh gashed', 'Puncture wounds to right thigh', 'Thighs abraded, puncture wounds in dorsal surface of left hand', 'Left hand severely lacerated', 'Left leg severed', 'Shark made threat display, then diver hit it with powerhead PROVOKED INCIDENT', 'Abrasions & 11 teethmarks on right lower leg', 'No injury, shark hit scuba tank', 'Arm lacerated by speared shark PROVOKED INCIDENT', 'FATAL, buttocks, lower abdomen & genitalia removed  ', 'No injury to diver, shark bit speargun', 'Right ankle lacerated', 'FATAL, both legs bitten & right leg severed at knee ', 'Leg & thigh bitten', 'Torso & hand lacerated', 'FATAL, leg severely bitten', 'Left arm lacerated  PROVOKED INCIDENT', 'Minor injury to left forearm  PROVOKED INCIDENT', 'Upper left arm bitten', 'FATAL, hand severed, shoulder, hip, foot, thigh bitten & femoral artery severed  ', 'FATAL, right femoral artery severed, thigh, calf, buttock & left hand bitten  ', "Minor lacerations to hand and arm after he seized the shar

In [38]:
# 1 NaN value in "Injury", we remove it:
attacks.dropna(subset=['Injury'], inplace=True)

In [39]:
# We transform the "Injury" to lowercase in order to be able to filter
attacks["Injury"] = attacks["Injury"].str.lower()

Create a ranking of points by part of the body üèÜ

In [37]:
# ARMS 10 POINTS
arm_search = r'(arm|hand|finger|elbow|forearm|wrist)'

attacks['Arm Pts'] = attacks['Injury'].str.extract(arm_search, expand = True)
attacks['Arm Pts'].fillna("", inplace=True)
attacks.loc[attacks['Arm Pts'] != "", 'Arm Pts'] = 10
attacks['Arm Pts'] = pd.to_numeric(attacks['Arm Pts'],errors='coerce')

In [38]:
# LEGS 20 POINTS
leg_search = r'(leg|ankle|groin|thigh|knee|foot|feet|buttocks)'

attacks['Leg Pts'] = attacks['Injury'].str.extract(leg_search, expand = True)
attacks['Leg Pts'].fillna("", inplace=True)
attacks.loc[attacks['Leg Pts'] != "", 'Leg Pts'] = 20
attacks['Leg Pts'] = pd.to_numeric(attacks['Leg Pts'],errors='coerce')

In [39]:
# BODY 50 POINTS
body_search = r'(body|ribs|heart|back|waist|hip|belly|abdomen|chest)'

attacks['Body Pts'] = attacks['Injury'].str.extract(body_search, expand = True)
attacks['Body Pts'].fillna("", inplace=True)
attacks.loc[attacks['Body Pts'] != "", 'Body Pts'] = 50
attacks['Body Pts'] = pd.to_numeric(attacks['Body Pts'],errors='coerce')

In [40]:
# HEAD 100 POINTS
head_search = r'(head|skull|throat|face|eyes|ear|neck|cheeks|nose|forehead)'

attacks['Head Pts'] = attacks['Injury'].str.extract(head_search, expand = True)
attacks['Head Pts'].fillna("", inplace=True)
attacks.loc[attacks['Head Pts'] != "", 'Head Pts'] = 100
attacks['Head Pts'] = pd.to_numeric(attacks['Head Pts'],errors='coerce')

In [41]:
# Delete the original column as we will work with the new ones:
attacks.drop(columns='Injury', inplace=True)
attacks

,Country,Activity,Age,Fatal (Y/N),Age Group,Top Species,Arm Pts,Leg Pts,Body Pts,Head Pts
0,USA,Paddling,57,N,Adult,white shark,NaN,NaN,NaN,NaN
5,BRAZIL,Swimming,18,Y,Adult,tiger shark,NaN,NaN,NaN,NaN
7,USA,Walking,15,N,Teenager,bull shark,NaN,20.0,NaN,NaN
13,AUSTRALIA,Feeding sharks,34,N,Adult,nurse shark,10.0,NaN,NaN,NaN
16,COSTA RICA,Scuba diving,30,N,Adult,tiger shark,NaN,NaN,NaN,100.0
...,...,...,...,...,...,...,...,...,...,...
4026,AUSTRALIA,Swimming,12,Y,Child,bull shark,NaN,20.0,NaN,NaN
4124,USA,Skin diving. Grabbed shark's tail; shark turne...,19,N,Adult,nurse shark,10.0,20.0,NaN,NaN
4130,IRAQ,Swimming naked near a date palm where many dat...,6,N,Child,bull shark,10.0,NaN,NaN,NaN
4131,IRAQ,Swimming in section of river used for washing ...,16,N,Teenager,bull shark,NaN,20.0,NaN,NaN
4135,IRAQ,Swimming,13,Y,Teenager,bull shark,NaN,20.0,NaN,NaN

In [42]:
attacks.reset_index(drop=True, inplace=True)

In [43]:
attacks['Total Pts'] = attacks[['Arm Pts', 'Leg Pts', 'Body Pts', 'Head Pts']].sum(axis=1)

In [44]:
attacks['Arm Pts'] = attacks['Arm Pts'].fillna(0)
attacks['Leg Pts'] = attacks['Leg Pts'].fillna(0)
attacks['Body Pts'] = attacks['Body Pts'].fillna(0)
attacks['Head Pts'] = attacks['Head Pts'].fillna(0)

In [45]:
attacks

,Country,Activity,Age,Fatal (Y/N),Age Group,Top Species,Arm Pts,Leg Pts,Body Pts,Head Pts,Total Pts
0,USA,Paddling,57,N,Adult,white shark,0.0,0.0,0.0,0.0,0.0
1,BRAZIL,Swimming,18,Y,Adult,tiger shark,0.0,0.0,0.0,0.0,0.0
2,USA,Walking,15,N,Teenager,bull shark,0.0,20.0,0.0,0.0,20.0
3,AUSTRALIA,Feeding sharks,34,N,Adult,nurse shark,10.0,0.0,0.0,0.0,10.0
4,COSTA RICA,Scuba diving,30,N,Adult,tiger shark,0.0,0.0,0.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...
845,AUSTRALIA,Swimming,12,Y,Child,bull shark,0.0,20.0,0.0,0.0,20.0
846,USA,Skin diving. Grabbed shark's tail; shark turne...,19,N,Adult,nurse shark,10.0,20.0,0.0,0.0,30.0
847,IRAQ,Swimming naked near a date palm where many dat...,6,N,Child,bull shark,10.0,0.0,0.0,0.0,10.0
848,IRAQ,Swimming in section of river used for washing ...,16,N,Teenager,bull shark,0.0,20.0,0.0,0.0,20.0
849,IRAQ,Swimming,13,Y,Teenager,bull shark,0.0,20.0,0.0,0.0,20.0

In [46]:
attacks.to_csv('/Users/lauurasarabia/Ironhack/projects/attacks_project/cleaning.csv')